[Unit]
Description=Network startup
Wants=network.target
Before=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/conf.d/network
ExecStart=/usr/bin/ip link set dev ${interface} up
ExecStart=/usr/bin/ip addr add ${address}/${netmask} dev ${interface} 
ExecStart=/usr/bin/ip route add default via ${gateway} metric ${metric}
ExecStop=/usr/bin/ip addr flush dev ${interface}
ExecStop=/usr/bin/ip link set dev ${interface} down

[Install]
WantedBy=multi-user.target
