[Unit]                                                                                                                                                                                                              
Description=Socat Greeting Service                                                                                                                                                                                  
Documentation=man:socat(1)                                                                                                                                                                                          
                                                                                                                                                                                                                    
[Service]                                                                                                                                                                                                           
ExecStart=/usr/bin/socat TCP-LISTEN:8888,reuseaddr 'SYSTEM:echo Hello World'                                                                                                                                        
Restart=on-success
                                                                                                                                                                                                                    
[Install]                                                                                                                                                                                                           
WantedBy=multi-user.target                                                                                                                                                                                          
